@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.leftsidebar{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        justify-content: space-around;
        padding: 2%;

        li{
            padding: 2%;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .sideheader{
        padding: 2%;
        font-size:26px;
        font-family: 'Josefin Sans', sans-serif;
        color: silver;
    }



}